<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.brillante.kotlite">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Kotlite"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.passenger.ongoing.PassengerOnGoingActivity">

        </activity>
        <activity android:name=".ui.driver.invoce.DriverInvoiceActivity"></activity>
        <activity android:name=".ui.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.driver.ongoing.DriverOnGoingActivity" />
        <activity android:name=".ui.passenger.driverList.DriverListActivity" />
        <activity android:name=".ui.driver.psgList.PassengerListActivity" />
        <activity android:name=".ui.driver.info.DriverInfoActivity" />
        <activity android:name=".ui.profile.ProfileActivity" />
        <activity android:name=".ui.role.RoleActivity" />
        <activity android:name=".ui.register.RegisterActivity" />
        <activity android:name=".ui.login.LoginActivity" />
        <activity android:name=".ui.main.AccountActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".ui.main.MapsActivity"
            android:label="@string/title_activity_maps" />
    </application>

</manifest>